.recommendation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  border-radius: 20px; 
  margin-right: 25px;
  background: linear-gradient(to left, #D8EFFF, #FBFDFF);
  box-shadow: 0 0 25px 0 rgba(142, 160, 173, 0.35);
  height: 100%;
  padding: 30px;
}

.copy {
  font-size: 24px;
}